.container{
    display: flex;
    padding:5rem 3rem;
    text-align: center;
    width: 100%;
    align-items: center;
   
    justify-content: space-evenly;
    /* background-color: rgb(238,252,255); */
    /* background-color: #a2d2ff; */
    min-height: 85vh;
    gap:34px;
    background-color: teal;
} 
.container .heading{
    color:#000;
    margin:0 auto;
    max-width: 500px;
    line-height: 4.1rem; 
    letter-spacing: 1px;
    font-size: 3.1rem ;
    font-weight: bold;
    font-family :cursive;
    color:azure;
}

.heading span{
    background-clip: text;
    /* background-image: linear-gradient(to right, #239ce2 , #1369b9); */
    /* background-image: linear-gradient(to right, #1aa1e1 , #389136); */
    /* color:transparent; */
    background-image: linear-gradient(to right, #1eb2df , #f7fbfb);
    color: transparent;
    font-family: monospace;
}

.right img{
    width:400px;
} 
