

/* header--- */
@media only screen and (max-width:479px){
.container{
    flex-direction: column;  
    min-height: 55vh;
}
.container .left{
    display: none;
}
.container .heading{
    letter-spacing:2px;
    line-height: 4rem;;
}
/* -----  */
.containers{
    padding:20px;
    padding-top:0px;
}
.containers .heading{
    font-size:2.1rem;
    font-family: cursive;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.containers .toolbar{
    flex-direction: column;
    gap: 20px;
}
.containers .main{
    overflow: hidden;
    gap:5;
}
.editor-container{
    gap:16px;
    margin:0;
    min-width: 0;
    

}
.editor-container .header{
    flex-direction: column;
    text-align: center;
}
.editor-container .body{
    gap:15px;
    padding:0;
}
.input-container{
    flex-direction: column;
}
.body button{
    width:100%;
    font-weight: 600;
    padding:10px 16px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    margin-top:15px;
}
label{
    font-size: 1.2rem;
}
input{
    font-size:1.1rem;
}

.resume-container{
    min-width:0px;
 
    
    padding:12px;
    margin:0 0;
    margin-top: 13px;
}
.resume-container .header .links{
    justify-content: space-between;
}
.detail .row{
    flex-direction: column;
}
}